.card_container {
  align-items: center;
  border: 1px solid black;

  font-size: 1rem;

  margin: auto;
  margin-top: 0.5rem;
}

.card_container p {
  margin: 1rem;
}

.card_container button {
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
}

.card_container button p {
  margin: 0;
}

.courseTime {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
