.main_container {
  padding: 2rem;
  padding-top: 0;
}

.status_container {
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.subjects_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subjects_container button {
  padding: 0.2rem 0.5rem;
  margin: 0;
}
