.background {
  background: linear-gradient(180deg, #fff 0%, var(--background-primary) 100%);
  height: 100vh;

  padding: 2rem;
}

.login_container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  line-height: 2rem;

  padding: 3rem;

  border: 1px solid black;

  width: 60%;
  margin: auto;

  background-color: #fff;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login_container h1,
.login_container h2 {
  font-weight: 600;
  line-height: 2.5rem;
}

.login_description {
  font-size: 1.15rem;
}

.login_container h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.login_container h2 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.login_container b {
  color: var(--bold-text-blue);
}

.login_form {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 2rem;

  margin-left: 2rem;
}

.login_form h2 {
  margin-bottom: 2.5rem;
}

.login_form > *:not(:first-child) {
  margin-top: 1rem;
}

.login_form .error {
  color: #dd0000;
  font-weight: 600;
  margin: 0;
}

.buttons {
  text-align: center;
}

.forgotPassword {
  margin-top: 0.5rem;
}

.forgotPassword:hover {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .login_container {
    width: 70%;
  }
}

@media screen and (max-width: 1110px) {
  .login_container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .login_description {
    margin-bottom: 2rem;
  }

  .login_form {
    margin: 0;
  }
}

@media screen and (max-width: 1110px) and (max-height: 800px) {
  .background {
    height: 100%;
  }

  .login_container {
    position: inherit;
    transform: translate(0);
  }
}

@media screen and (max-height: 520px) {
  .background {
    height: 100%;
  }

  .login_container {
    position: inherit;
    transform: translate(0);
  }
}

@media screen and (max-width: 900px) {
  .login_container {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .login_container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .background {
    padding: 0;
    height: 100%;
  }

  .login_container {
    line-height: 2rem;

    width: 100%;
    margin: 0;

    background-color: #fff;
  }

  .login_container {
    position: inherit;
    transform: translate(0);
  }
}

@media screen and (max-width: 400px) {
  .login_container {
    padding: 3rem 1rem;
  }

  .login_form {
    border: none;
    padding: 0;
  }
}
