.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contentBox{
    margin-top: 5rem;
    width: 80%;
}

.contentBox p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.mainInfo{
    align-self: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

.profInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-self: center;
  
}

.addSubject {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
}

.addSubject1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


.subjects {
    margin-top: 2rem;
}


.closeBtn {
    position: absolute;
    top: 4%;
    right: 5%;
}


.saveBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}