.input_container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.input_container label {
  padding-right: 1rem;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.input_container input {
  background-color: #f2f2f2;
  border: 1px solid #727272;

  font-size: 1.15rem;
  padding: 0.5rem 0.2rem;
}
