.primaryBtn {
  border-radius: 3px;
  padding: 0.4rem 4.5rem;
  margin-top: 1rem;
}

.primaryBtn p {
  font-weight: 700;
  font-size: 1.25rem;
}

.primaryBtn:hover{
  cursor: pointer;
  transition: 800ms;
}
