.addBtn {
  border: 3px solid #2f88ff;
  border-radius: 5px;
  background-color: white;

  padding: 1px;
  width: 35px;
  height: 35px;
}

.addBtn img {
  width: 1.7rem;
}

.addBtn:hover {
  cursor: pointer;
}
