.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentBox,
.contentBox2{
    width: 75%;
}

.contentBox{
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
}

.contentInfo2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 2rem;
}

.contentBox p,
.contentBox2 p{
    padding-right: 1rem;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
    align-self: flex-start;
    margin-bottom: 2rem;
}

.managementBtns{
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    height: 4.2rem;
}

.saveBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}