.background {
  background: linear-gradient(360deg, #fff 0%, var(--background-primary) 100%);
  height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
}

.contentBox {
  background-color: #fafafa;
  width: 90%;
  height: 90%;
  overflow: scroll;
  border: 1px solid #333333;
  display: flex;
  flex-direction: column;
}
