.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentInfo{
    width: 75%;
    position: relative;
}


.info {
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    width: 100%;
}

.addBtn{
    display: flex;
    align-items: center;
    gap: 2rem;
}

