.modalCard {
  padding: 2rem;
  padding-top: 0;
  padding-right: 1rem;
}

.modal_header {
  display: flex;
  flex-direction: row-reverse;
}

.modal_header h1 {
  padding: 1rem;
  padding-left: 0;

  font-size: 2.5rem;
}

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal_form input,
.modal_form select {
  width: 50%;
}

.button {
  text-align: center;

  margin-top: 2rem;
}
