.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentBox,
.contentBox2{
    width: 75%;
}

.contentBox{
    display: flex;
    flex-direction: column;
}

.contentBox2{
    margin-top: 2rem;
}

.main p {
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.saveBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.nameBox{
    width: 40%;
}

.profileInfo > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profileInfo > div {
    display: flex;
    gap: 3rem;
}

.contentInfo2{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.contentInfo3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
}