.main_container {
    padding: 2rem;
    padding-top: 0;
  }
  
  .status_container {
    line-height: 1.25rem;
    margin-bottom: 1rem;
  }

  .status_container p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  
  .subjects_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .subjects_container button {
    padding: 0.2rem 0.5rem;
    margin: 0;
  }

  .buttons {
    margin-top: 1rem;
    justify-content: center;
    display: flex;
  }

  .buttons div + div {
    margin-left: 3rem;
  }
  
  .info {
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    width: 100%;
    margin-top: 1.5rem;
}