.secondaryBtn {
  border-radius: 1px;
  padding: 0.5rem 0.7rem;

  background-color: var(--lighter-blue);
  border: 1px solid var(--lighter-blue);
}

.secondaryBtn p {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}

.secondaryBtn:hover {
  color: var(--lighter-blue);
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: 800ms;
}
