.selectContainer {
  display: flex;
  justify-content: space-between;
}

.select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  border: none;

  background-image: url("../../Assets/Img/arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 55%;
  background-color: #fafafa;

  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 2rem;

  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;

  width: 100%;
}

.select:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.selectContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}

.selectContainer label {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;

  margin-right: 2rem;
}
