.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentInfo{
    width: 75%;
}

.contentInfo p {
    padding-right: 1rem;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    align-self: flex-start;
    margin-bottom: 2rem;
}

.contentSelect {
    width: 40%;
    margin-bottom: 3rem;
}

.info{
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
}


