.navButtons{
    display: flex;
    padding: 0.6rem 1rem;
    width: 100%;
    border-bottom: 1px solid #333333;
    background-color: #FAFAFA;
    align-items: center;
    flex-wrap: wrap;
}

.navButtons:hover{
    cursor: pointer;
}

.navButtons img {
    margin-right: 0.5rem;
    height: 1.3rem;
}

.navButtons p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    color: #000000;
}

@media (max-width: 700px){
    .navButtons {
        flex-direction: column;
    }

    .navButtons p {
        font-size: 0.8rem;
    }
}