.header {
    height: 25%;
    background-color: #47AAEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #333333;
}

.headerText {
    margin: 2rem 2rem 3rem 2rem;
}

.header p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: #000000;
}

.header p + p {
    margin-top: 1.3rem;
}

@media (max-width: 800px){
    .header p {
        font-size: 0.8rem;
    }

    .header {
        padding-bottom: 4rem;
    }
    
}

@media (max-width: 1440px){

    .header {
        padding-bottom: 2rem;
    }

    .headerText{
        margin-bottom: 2rem;
    }
}