.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contentBox{
    margin-top: 5rem;
    width: 80%;
}

.mainInfo{
    align-self: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}

.coordInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-self: center;
  
}





.saveBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}