.sidebar {
  width: 14%;
  height: 100vh;
  background-color: #fafafa;
  border: 1px solid #333333;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.uffLogo img {
  position: absolute;
  bottom: 1%;
  left: 3%;
  height: 3rem;
}
