.closeBtn {
  border: 3px solid var(--button-color-red);
  border-radius: 5px;
  background-color: white;

  padding: 3px;
  width: 35px;
  height: 35px;

  cursor: pointer;
}

.closeBtn img {
  width: 1.5rem;
}
