.editBtn {
  border-radius: 2px;
  padding: 0.5rem 1rem;

  background-color: white;
  border: 1px solid black;
}

.editBtn p {
  font-weight: 700;
  font-size: 1rem;
}

.editBtn:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 800ms;
}
